@model List<ApplicationUser>

@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>
<a asp-action="AssignChurch" class="btn btn-primary">Assign Church</a>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Church Assigned</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    @user.FirstName @user.LastName
                </td>
                <td>
                    <a asp-action="UnassignChurch" asp-route-id="@user.Id" class="btn btn-danger">Remove Church</a>
                </td>
            </tr>
        }
    </tbody>
</table>