@model List<ApplicationUser>

@{
    ViewData["Title"] = "User List";
}

<h2>User List</h2>
<a asp-action="AssignChurch" class="btn btn-primary">Assign Church</a>
<a asp-action="UnassignChurch" class="btn btn-danger">Remove Church</a>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>User</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    @user.FirstName @user.LastName
                </td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>