@model RccgWeb.ViewModel.ZoneViewModel

<h2>
    Add Zone
</h2>

<form asp-action="AddZone" method="post">
    <div class="form-group">
        <label asp-for="ZoneName"></label>
        <input asp-for="ZoneName" class="form-control" />
        <span asp-validation-for="ZoneName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ZonePastor"></label>
        <input asp-for="ZonePastor" class="form-control" />
        <span asp-validation-for="ZonePastor" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Add Zone</button>
</form>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>